
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
      {{!-- <a href="/dashboard/edit/{{post.id}}">Edit post</a> --}}
    {{/each}}

</section>
{{/if}}

<a class = "btn link" href="/dashboard/new"> New Post</a>

